.sidebar {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    top: 60px;
    width: 90px;
    border-right: 1px solid rgb(241, 232, 232);
    box-shadow: 5px 5px 5px rgb(243, 239, 239);
    z-index: 200;
}

.sidebar-links {
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.sidebar-links:hover {
    background-color: lightgray;
}

.sidebar-links img {
    height: 30px;
    margin-bottom: 10px;
}

.sidebar-links .sidebar-content {
    font-size: 12px;
    font-family: Roboto, Arial;
    font-weight: 600;
}

/* .home,
.explore,
.originals,
.library,
.youtube-music,
.subscription {
    position: absolute;
    align-items: center;
} */